.blog-card {
  width: 30rem;
 border-radius:1rem;
 background-color: white;
}

.blog-card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.blog-img {
  height: 20rem;
  width: 100%;
 border-radius:1rem 1rem 0 0;
}

.blog-card-body {
  padding: 1rem;
}

.blog-card-body h3, .blog-card-body p {
  color: rgb(151, 142, 142);
  margin: 0;
  line-height: 1.9rem;
}

.blog-card-body h1 {
  font-size: 1.5rem;
}

.blog-card-body p {
  font-size: 1.2rem;
}

.blog-author-section  {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  margin:1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
 border-radius: 0 0 1rem 1rem;
}

.blog-author-section img {
  height: 4rem ;
  width: 4rem;
  border-radius: 50%;
}

.blog-author-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-author-section  h5, .blog-author-section  p {
  margin: 0;
}









