nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-weight: 600;
  font-size: 2rem;color: blue;
}

.nav_links {
  font-size: 1.2rem;
    display: flex;
      justify-content: center;
      align-items: center;
      gap:1rem;
}


.nav_links a:visited {
  color: black
}

.nav_links a:hover {
  color: blue;
  text-decoration: underline;
}