@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #d3daf3;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
  line-height: 1.2;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}
h4 {
  font-size: 1.2rem;
  line-height: 1.2;
}
h5 {
  font-size: 1rem;
  line-height: 1.2;
}
h6 {
  font-size: 0.8rem;
  line-height: 1.2;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}
.app-container {
  margin: 0 auto;
  max-width: 60rem;
}
